workflows/waha-chatting-prod.json
{
  "updatedAt": "2026-02-20T02:01:24.430Z",
  "createdAt": "2026-02-11T23:41:54.037Z",
  "id": "xXQ0R_KRA2teh7aVZe-kQ",
  "name": "WAHA - Chatting Template",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "d4ec4540-2ca4-4a62-9979-b7543cbe99be",
      "name": "WAHA Trigger",
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202409,
      "position": [
        -528,
        352
      ],
      "webhookId": "71251449-2644-4325-8ba7-2a1550a81fb4"
    },
    {
      "parameters": {
        "content": "## Reply \"pong\" on \"ping\" text",
        "height": 382.58335299812256,
        "width": 568.1572184210546,
        "color": 4
      },
      "id": "f6e32023-b0ae-41fa-90e8-8ffad0511293",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        240
      ]
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "participant": "",
        "requestOptions": {}
      },
      "id": "f56053da-e3ef-4640-a2ed-2555abaf1e09",
      "name": "Send Seen",
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202409,
      "position": [
        48,
        64
      ],
      "credentials": {
        "wahaApi": {
          "id": "GLDEayRhcouW5kt1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Always Send Seen",
        "height": 227.5411734823075,
        "width": 568.1572184210546,
        "color": 4
      },
      "id": "5aee3b9e-159f-46b3-8e3b-bd705e908c80",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Send Image on \"image\" text",
        "height": 399.4096946499026,
        "width": 568.1572184210546,
        "color": 4
      },
      "id": "7adc17a2-661d-4ddd-95db-609838855964",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f827f7f8-d40c-4d97-9677-9e62d99c7e7a",
              "leftValue": "={{ $json.payload.body }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "9dc60cdc-5d7b-44ab-b959-3cec77632855",
              "leftValue": "={{ $json.payload.body }}",
              "rightValue": "Image",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "70f0bbab-2002-4852-a75e-8b57babdf03a",
      "name": "body=image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        64,
        784
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Image",
        "caption": "Check this",
        "requestOptions": {}
      },
      "id": "f96d64ab-1980-4d07-8c99-8f7dacde2a11",
      "name": "Send Image",
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202409,
      "position": [
        368,
        752
      ],
      "credentials": {
        "wahaApi": {
          "id": "GLDEayRhcouW5kt1",
          "name": "WAHA account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "true",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f1137961-27a1-4eaa-b118-b874b4202916"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "242f1ea8-0d3f-491c-a60b-1ac78c82488f",
                    "leftValue": "true",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "4f550e8f-c7d2-4c22-8fbb-f729816db6b7",
                    "leftValue": "1",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "id": "429dc949-39e9-4931-8ceb-a539cf8ba9c0",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        -208,
        352
      ],
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "8f5fe7f9-fb41-4f53-9211-51d49eaecb43",
      "name": "Do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        368,
        912
      ],
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WAHA Trigger').item.json.payload.body }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        48,
        304
      ],
      "id": "ad690313-5d7d-4547-a8de-be198d426d56",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "executeOnce": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        48,
        512
      ],
      "id": "53574c76-b4c2-4035-b3a5-e67518417ca9",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "ofIKxCCibm2YNl8G",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -544,
        176
      ],
      "id": "fa1faa57-f279-4863-b1d9-dc9a06859202",
      "name": "When chat message received",
      "webhookId": "3b731dcc-2c75-4601-9b83-6782a4f31619",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "default",
        "chatId": "=573168294407@c.us",
        "text": "={{ \"🤖 rob dice: \" + $('AI Agent').item.json.output }}",
        "requestOptions": {}
      },
      "id": "043971dd-89ed-4a95-94d0-7253d4c22850",
      "name": "Send ia response1",
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202409,
      "position": [
        416,
        464
      ],
      "credentials": {
        "wahaApi": {
          "id": "GLDEayRhcouW5kt1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "text": "={{ \"🤖 rob dice: \" + $('AI Agent').item.json.output }}",
        "requestOptions": {}
      },
      "id": "18068f58-0ca2-4939-8428-969b56d19e19",
      "name": "Send ia response",
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202409,
      "position": [
        1360,
        144
      ],
      "credentials": {
        "wahaApi": {
          "id": "GLDEayRhcouW5kt1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "requestOptions": {}
      },
      "id": "5417f99e-e1f7-484d-8ec1-f85dc7da4d68",
      "name": "Start Typing",
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202409,
      "position": [
        976,
        112
      ],
      "credentials": {
        "wahaApi": {
          "id": "GLDEayRhcouW5kt1",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ ($node[\"AI Agent\"].json.output.length * 0.05).toFixed(2) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        240
      ],
      "id": "3cd111e8-8549-416a-a2ee-8e1b9bf1d75b",
      "name": "Wait",
      "webhookId": "f68851ae-0169-4f05-8451-d2cc502c253e"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        512
      ],
      "id": "9f79b029-fe25-43bd-b0c3-738c9a68090a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_control",
          "mode": "list",
          "cachedResultName": "chat_control"
        },
        "where": {
          "values": [
            {
              "column": "phone_number",
              "value": "573168294407@c.us"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        528
      ],
      "id": "ee328e1f-3fe9-42dd-8074-8386655bd366",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "MpT6kay8Q7oxgRNE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1088,
        656
      ],
      "id": "836da0aa-7084-410b-9adb-785cbd18f720",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "AUTO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "909d6084-3ea3-4e7f-bf34-4b44f3c10784"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "29bf4b62-05a9-45ec-9a6b-66afb1fd9237",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "MANUAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b5eda1fe-ec44-4bdb-9267-6a775c8fde7b",
                    "leftValue": "={{ $json.is_vip }}",
                    "rightValue": "=true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        896,
        528
      ],
      "id": "b9d2aefb-8c5b-4a64-b0da-d39a9240de44",
      "name": "Switch (mode)"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "interactions_log",
          "mode": "list",
          "cachedResultName": "interactions_log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "successful_resolution": false,
            "tokens_used": 0,
            "cost_estimate": 0,
            "id": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tokens_used",
              "displayName": "tokens_used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "cost_estimate",
              "displayName": "cost_estimate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "successful_resolution",
              "displayName": "successful_resolution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        1008
      ],
      "id": "01319205-1467-4301-a54c-4afdb40f1a58",
      "name": "Insert rows in a table interaction logs",
      "credentials": {
        "postgres": {
          "id": "MpT6kay8Q7oxgRNE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e459325d-b6a7-48d3-9cd3-9d2f003ef22e"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        688,
        800
      ],
      "id": "c928803d-d1b5-4e1a-8392-ddf6a9dfab16",
      "name": "Switch2 velocity control"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        944
      ],
      "id": "4407afe2-49f4-4b24-b0ba-c8b3d07ec657",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "## 🔄 Git Versioning\n\nRequiere 2 credenciales configuradas:\n1. **n8n API Key** (Header Auth): Header=`X-N8N-API-KEY`, Value=tu API key\n2. **GitHub PAT** (Header Auth): Header=`Authorization`, Value=`token ghp_xxx`\n\nCambia los valores en el nodo **Git Config** según tu repo.",
        "height": 260,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "name": "Sticky Note Git",
      "position": [
        -560,
        1300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⬆️ Push Workflow to Git\nExporta el workflow actual via API de n8n, lo sube a GitHub con un commit.",
        "height": 120,
        "width": 1100,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "name": "Sticky Note Push",
      "position": [
        -560,
        1580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⬇️ Pull Workflow from Git\nBaja el workflow desde GitHub y actualiza este workflow via API de n8n.",
        "height": 120,
        "width": 900,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "name": "Sticky Note Pull",
      "position": [
        -560,
        1900
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "name": "Click to Push to Git",
      "position": [
        -520,
        1640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"repoOwner\": \"deivnino\", \"repoName\": \"n8n-waha-docker\", \"filePath\": \"workflows/waha-chatting-prod.json\", \"branch\": \"main\", \"workflowId\": \"xXQ0R_KRA2teh7aVZe-kQ\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "name": "Git Config Push",
      "position": [
        -320,
        1640
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "=http://localhost:5678/api/v1/workflows/{{ $json.workflowId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "name": "GET Workflow from n8n",
      "position": [
        -100,
        1640
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "n8n API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get workflow data and config\nconst workflow = $input.first().json;\nconst config = $('Git Config Push').first().json;\n\n// Clean export: remove runtime fields\nconst exportData = { ...workflow };\ndelete exportData.statistics;\ndelete exportData.updatedAt;\ndelete exportData.createdAt;\n\nconst content = JSON.stringify(exportData, null, 2);\nconst contentBase64 = Buffer.from(content).toString('base64');\nconst timestamp = new Date().toISOString().slice(0, 19).replace('T', ' ');\n\nreturn [{\n  json: {\n    content: contentBase64,\n    message: `Update workflow: ${workflow.name} (${timestamp})`,\n    repoOwner: config.repoOwner,\n    repoName: config.repoName,\n    filePath: config.filePath,\n    branch: config.branch\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "name": "Prepare Push Payload",
      "position": [
        120,
        1640
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repoOwner }}/{{ $json.repoName }}/contents/{{ $json.filePath }}?ref={{ $json.branch }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "name": "GET File SHA from GitHub",
      "position": [
        340,
        1640
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $('Prepare Push Payload').first().json.repoOwner }}/{{ $('Prepare Push Payload').first().json.repoName }}/contents/{{ $('Prepare Push Payload').first().json.filePath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $('Prepare Push Payload').first().json.message, content: $('Prepare Push Payload').first().json.content, sha: $json.sha || undefined, branch: $('Prepare Push Payload').first().json.branch }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "name": "PUT File to GitHub",
      "position": [
        560,
        1640
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "name": "Click to Pull from Git",
      "position": [
        -520,
        1960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"repoOwner\": \"deivnino\", \"repoName\": \"n8n-waha-docker\", \"filePath\": \"workflows/waha-chatting-prod.json\", \"branch\": \"main\", \"workflowId\": \"xXQ0R_KRA2teh7aVZe-kQ\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "name": "Git Config Pull",
      "position": [
        -320,
        1960
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repoOwner }}/{{ $json.repoName }}/contents/{{ $json.filePath }}?ref={{ $json.branch }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "name": "GET File from GitHub",
      "position": [
        -100,
        1960
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Decode the file content from GitHub\nconst githubResponse = $input.first().json;\nconst config = $('Git Config Pull').first().json;\n\n// GitHub returns base64 encoded content\nconst content = Buffer.from(githubResponse.content, 'base64').toString('utf8');\nconst workflowData = JSON.parse(content);\n\n// Prepare the update payload (only send updatable fields)\nconst updatePayload = {\n  name: workflowData.name,\n  nodes: workflowData.nodes,\n  connections: workflowData.connections,\n  settings: workflowData.settings || {},\n  staticData: workflowData.staticData || null\n};\n\nreturn [{\n  json: {\n    workflowId: config.workflowId,\n    payload: updatePayload\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "name": "Parse GitHub Response",
      "position": [
        120,
        1960
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://localhost:5678/api/v1/workflows/{{ $json.workflowId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "name": "PUT Workflow to n8n",
      "position": [
        340,
        1960
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "n8n API Key"
        }
      }
    }
  ],
  "connections": {
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        []
      ]
    },
    "body=image": {
      "main": [
        [
          {
            "node": "Send Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send ia response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Switch (mode)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send ia response1": {
      "main": [
        []
      ]
    },
    "Switch (mode)": {
      "main": [
        [],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2 velocity control": {
      "main": [
        []
      ]
    },
    "Click to Push to Git": {
      "main": [
        [
          {
            "node": "Git Config Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Config Push": {
      "main": [
        [
          {
            "node": "GET Workflow from n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Workflow from n8n": {
      "main": [
        [
          {
            "node": "Prepare Push Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Push Payload": {
      "main": [
        [
          {
            "node": "GET File SHA from GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET File SHA from GitHub": {
      "main": [
        [
          {
            "node": "PUT File to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Click to Pull from Git": {
      "main": [
        [
          {
            "node": "Git Config Pull",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Config Pull": {
      "main": [
        [
          {
            "node": "GET File from GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET File from GitHub": {
      "main": [
        [
          {
            "node": "Parse GitHub Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse GitHub Response": {
      "main": [
        [
          {
            "node": "PUT Workflow to n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "49161412-bcdb-4e52-8168-12a37ae35441",
  "activeVersionId": null,
  "versionCounter": 317,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-11T23:41:54.040Z",
      "createdAt": "2026-02-11T23:41:54.040Z",
      "role": "workflow:owner",
      "workflowId": "xXQ0R_KRA2teh7aVZe-kQ",
      "projectId": "UhQWd7l5fYh7qK52",
      "project": {
        "updatedAt": "2026-02-05T17:58:08.816Z",
        "createdAt": "2026-02-05T17:45:27.977Z",
        "id": "UhQWd7l5fYh7qK52",
        "name": "Andres David Nino C <deivnino@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "cb047560-0459-432a-adcc-14365d6d9b37",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T17:45:27.978Z",
            "createdAt": "2026-02-05T17:45:27.978Z",
            "userId": "cb047560-0459-432a-adcc-14365d6d9b37",
            "projectId": "UhQWd7l5fYh7qK52",
            "user": {
              "updatedAt": "2026-03-17T03:50:49.000Z",
              "createdAt": "2026-02-05T17:45:27.236Z",
              "id": "cb047560-0459-432a-adcc-14365d6d9b37",
              "email": "deivnino@gmail.com",
              "firstName": "Andres David",
              "lastName": "Nino C",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-05T17:58:33.637Z",
                "personalization_survey_n8n_version": "2.6.3",
                "companySize": "<20",
                "companyType": "education",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-17",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}