workflows/workflow-4-rag-test.json
{
  "updatedAt": "2026-03-10T20:25:59.109Z",
  "createdAt": "2026-03-04T23:13:55.665Z",
  "id": "Ylb8wH6qNE6F1GpWZLuD5",
  "name": "My workflow 4",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Eres mi chatbot y me contestas todo lo requerido me puedes dar infod detallada de la base de conocimiento"
        }
      },
      "id": "5623d6de-0288-4e63-8665-e34d947cb1b1",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        0
      ],
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3"
        },
        "options": {}
      },
      "id": "e8f0f2e5-ee5c-41d6-bad1-959ffe20b19a",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -384,
        208
      ],
      "credentials": {
        "anthropicApi": {
          "id": "ofIKxCCibm2YNl8G",
          "name": "Anthropic account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "Buscar_en_Base_de_Conocimiento",
        "toolDescription": "devuelve todo lo que te pregunten",
        "qdrantCollection": {
          "__rl": true,
          "value": "pdf_local_collection_dav",
          "mode": "name"
        },
        "options": {
          "metadataPayloadKey": "metadata"
        }
      },
      "id": "3c20f2be-1f1a-4c4d-95a3-a3106cc1db72",
      "name": "Buscar en Base de Conocimiento",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        128,
        208
      ],
      "credentials": {
        "qdrantApi": {
          "id": "IwUAmPL2e0m7tTgi",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "id": "464be8b8-78a8-4915-8b7a-46a056d3d3d9",
      "name": "Ollama Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        176,
        368
      ],
      "credentials": {
        "ollamaApi": {
          "id": "n3kTDZQe7x63BCyX",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -288,
        0
      ],
      "id": "c5906112-9ba2-404d-9831-c0d5d061af59",
      "name": "When chat message received",
      "webhookId": "3143b2c6-4d02-4ca0-9c0c-dfdd03751376",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "kimi-k2.5:cloud",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -176,
        224
      ],
      "id": "316f40ab-cc19-49b0-9e67-a6640f01c775",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "n3kTDZQe7x63BCyX",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -16,
        256
      ],
      "id": "4c94377f-668b-4dc5-bfe8-0111a0d25007",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Buscar en Base de Conocimiento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Buscar en Base de Conocimiento",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b20e796a-46a0-4b6f-a4dc-27b200fe3cc8",
  "activeVersionId": null,
  "versionCounter": 72,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-04T23:13:55.667Z",
      "createdAt": "2026-03-04T23:13:55.667Z",
      "role": "workflow:owner",
      "workflowId": "Ylb8wH6qNE6F1GpWZLuD5",
      "projectId": "UhQWd7l5fYh7qK52",
      "project": {
        "updatedAt": "2026-02-05T17:58:08.816Z",
        "createdAt": "2026-02-05T17:45:27.977Z",
        "id": "UhQWd7l5fYh7qK52",
        "name": "Andres David Nino C <deivnino@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "cb047560-0459-432a-adcc-14365d6d9b37",
        "projectRelations": [
          {
            "updatedAt": "2026-02-05T17:45:27.978Z",
            "createdAt": "2026-02-05T17:45:27.978Z",
            "userId": "cb047560-0459-432a-adcc-14365d6d9b37",
            "projectId": "UhQWd7l5fYh7qK52",
            "user": {
              "updatedAt": "2026-03-17T03:50:49.000Z",
              "createdAt": "2026-02-05T17:45:27.236Z",
              "id": "cb047560-0459-432a-adcc-14365d6d9b37",
              "email": "deivnino@gmail.com",
              "firstName": "Andres David",
              "lastName": "Nino C",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-05T17:58:33.637Z",
                "personalization_survey_n8n_version": "2.6.3",
                "companySize": "<20",
                "companyType": "education",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-17",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}